<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- 테스트 용 EJS -->
<!-- Commit Practice-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .chat {
            visibility: hidden;
        }
        body {
            margin: 30px;
        }
        * {
            margin: 0;
            padding: 0;
        }
        th, td {
            border: 1px solid black;
            padding: 15px;
        }
        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>주식 시뮬레이터 V2</h1>
    <p>백엔드</p>

    <%-include('chat.ejs')%>    <!-- 채팅 호출 -->

        <form action="/signup" method="post">
            <input type="text" name="id" placeholder="id">
            <input type="password" name="pw" placeholder="pw">
            <input type="email" name="email" placeholder="email">
            <input type="submit">
        </form>
        <form action="/login" method="post">
            <input type="text" name="id">
            <input type="password" name="pw">
            <input type="submit">
        </form>
        <form action="/logout" method="post">
            <input type="submit">
        </form>
        <button id="viewChat">채팅 보기</button>
    <table>
        <tr>
            <td>MCSPI</td>
            <td id="index_price"></td>
        </tr>
    </table> <br>
    <table>
        <tr>
            <th>종목 ID</th>
            <th>종목명</th>
            <th>가격</th>
            <th>상태</th>
        </tr>
        <tr>
            <td id="stock_id_1"></td>
            <td id="name_1"></td>
            <td id="price_1"></td>
            <td id="status_1"></td>
        </tr>
        <tr>
            <td id="stock_id_2"></td>
            <td id="name_2"></td>
            <td id="price_2"></td>
            <td id="status_2"></td>
        </tr>
        <tr>
            <td id="stock_id_3"></td>
            <td id="name_3"></td>
            <td id="price_3"></td>
            <td id="status_3"></td>
        </tr>
        <tr>
            <td id="stock_id_4"></td>
            <td id="name_4"></td>
            <td id="price_4"></td>
            <td id="status_4"></td>
        </tr>
        <tr>
            <td id="stock_id_5"></td>
            <td id="name_5"></td>
            <td id="price_5"></td>
            <td id="status_5"></td>
        </tr>
        <tr>
            <td id="stock_id_6"></td>
            <td id="name_6"></td>
            <td id="price_6"></td>
            <td id="status_6"></td>
        </tr>
    </table>
</body>
<script>
    let stock_data, index_data;
    const index_pice = document.getElementById('index_price');

    async function req_backend(url) {
        try {
            const response = await fetch(`http://localhost:3000/${url}`);
            const data = await response.json();
            return data;
        } catch (err) {
            console.error(err);
        }
    }

    async function fetchData() {
        stock_data = await req_backend("stock/stock-inform/all");
        index_data = await req_backend("stock/futures-inform/all");
        index_pice.innerText = index_data.message[0].price;
        for (let i = 0; i < 6; i++) { 
            document.getElementById(`stock_id_${i + 1}`).innerText = stock_data.message[i].stock_id;
            document.getElementById(`name_${i + 1}`).innerText = stock_data.message[i].name;
            document.getElementById(`price_${i + 1}`).innerText = stock_data.message[i].price;
            document.getElementById(`status_${i + 1}`).innerText = stock_data.message[i].status;
        }
    }
    fetchData();
    setInterval(fetchData, 1000); 

    document.getElementById('viewChat').addEventListener('click', () => {
        const chatContainer = document.getElementById('chatContainer');
        chatContainer.style.visibility = 'visible';
    });
</script>

</html>